.carousel {
    position: relative;
    z-index: 0;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    min-width: 320px;
    width: 100vw;
    background: black;
}

.slide {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: filter 3.5s;
    background-color: black;

    > * {
        opacity: 0;
        transform: translateY(55px);
        transition: all 0.4s;
    }

    &__content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000000cc;
    
        h2 {
            padding: 0px 36px 24px 36px;
            text-align: center;
            @include size(36);
            line-height: 1.1;
            color: $textColor;
            text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);

            @media screen and (min-width: $smallDesktop) {
                @include size(48);
            }

            @media screen and (min-width: $monitor) {
                @include size(64);
            }
        }
    
        p {
            padding: 0px 48px;
            @include size(16);
            text-align: center;
            color: $textColor;

            @media screen and (min-width: $monitor) {
                @include size(24);
            }
        }
    
        > * {
            opacity: 0;
            transform: translateY(-45px);
            transition: all 1s;
        }
    }
}

.swiper {
    overflow: hidden;
    list-style: none;
    padding: 0;
    display: block;
    max-width: 750px;
    height: auto;

    .swiper-wrapper {
        position: relative;
        z-index: 1;
        display: flex;
        transition-property: transform;
        transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    }
}

.content {
    &__btn {
        border: none;
        position: absolute;
        top: auto;
        bottom: 110px;
        @include size(18);
        color: $textColor;
        background-color: $primaryColor;
        display: block;
        padding: 12px 24px;
        text-decoration: none;
        border-radius: 8px;

        // &:link {
        //     background: $mainColorHover;
        // }

        // &:active {
        //     background: $mainColorHover;
        // }
    }
}

.swiper-slide-active {
    .slide {
        > * {
            opacity: 1;
            transform: none;

            @for $i from 0 to 15 {
                &:nth-child(#{$i+ 1}) {
                    transition-delay: $i * 0.7 + 1.5s;
                }
            }
        }

        &__content {
            &__btn { 
                transition-delay: initial!important; 
            }

            > * {
                opacity: 1;
                transform: none;
    
                @for $i from 0 to 15 {
                    &:nth-child(#{$i + 1}) {
                        transition-delay: $i * 0.3 + 0.2s;
                    }

                    &:last-child {
                        transition-delay: 0.1s;
                    }
                }
            }
        }
    }
}

.swiper {
    // &__btn { 

    .swiper-button-prev, .swiper-button-next {
        color: $textColor;
        top: auto;
        bottom: 30px;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background: $primaryColor;
        transition-duration: 0.7s;

        &:after {
            font-size: 22px;
            font-weight: bold;
        }

        &:hover {
            background-size: 4px 20px;
            background: $mainColorHover;
            color: $textColor;
        }
    }

    .swiper-button-prev {
        left: 50%;
        margin-left: -44px;
        right: auto;
    }

    .swiper-button-next {
        right: auto;
        left: 50%;
        margin-left: 4px;
    }
}
