.contact {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: $secondaryTextColor;
    color: $textColor;
    align-items: center;

    &__line {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid $secondaryColor;
        padding: 0;
        width: 90vw;
    }

    &__information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 26px;
    }

    &__details {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        color: $secondaryColor;
        font-size: 26px;
        text-transform: uppercase;
        margin-bottom: 14px;
        text-align: center;
    }

    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
}

.enquiries {
    &__text {
        font-size: 14px;
    }

    &__email {
        text-decoration: underline;
        font-size: 14px;
        margin-bottom: 20px;

        &:link {
            color: $hyperlinkColor;
        }

        &:visited {
            color: $hyperlinkColor;
        }

        &:hover {
            color: $hyperlinkHover;
        }

        &:active {
            color: $hyperlinkColor;
        }
    }
}

.details {
    &__title {
        color: $secondaryColor;
        text-transform: uppercase;
        font-size: 26px;
    }

    &__signature {
        color: $secondaryColor;
        font-size: 12px;
        text-align: center;
        margin: 20px 0px;
    }

    &__portfolio {
        text-decoration: underline;

        &:link {
            color: $hyperlinkColor;
        }

        &:visited {
            color: $hyperlinkColor;
        }

        &:hover {
            color: $hyperlinkHover;
        }

        &:active {
            color: $hyperlinkColor;
        }
    }

    &__list {
        font-size: 12px;

        @media (min-width: 1024px) {
            font-size: 14px;
        }
    }

    &__row {
        display: flex;
        flex-direction: column;

        @media (min-width: 425px) {
            flex-direction: row;
            justify-content: space-between;
        }

    }
}

.list {
    &__emails {
        margin-left: 20px;
    }
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;

    &__logo {
        margin: 0 7px;
        color: $textColor;

        &:link {
            color: $textColor;
        }

          a:visited {
            color: $textColor;
          }

          a:active {
            color: $textColor;
          }

          a:hover {
            color: $mainColor
          }
    }
}