@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* { 
    scroll-behavior: smooth; 
}

body {
    margin: 0;
    padding: 0;
    color: $textColor;
    background: #111;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: scroll;
    overflow-y: scroll;
    max-width: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    display: none;
}

::-webkit-scrollbar-track-piece {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #f61875;
    border-radius: 5px;
}
