.meet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 20px 40px 20px;
    
    @media screen and (min-width: $smallDesktop) {
        padding: 160px 80px 40px 80px;
    }

    &__title {
        color: $primaryColor;
        font-size: 3em;
        line-height: 1.2;
        margin: 40px;
        text-align: center;
    }

    &__image-container {
        max-width: 490px;
    }

    &__image {
        width: 100%;
        height: auto;
        max-height: 440px;
        border-radius: 10px;
    }

    &__description {
        font-size: 1em;
        margin: 20px 12px;

        @media screen and (min-width: $smallDesktop) {
            margin: 40px 0px;
        }

        p {
            margin-bottom: 20px;
        }
    }

    &__info {
        text-align: center;
        font-size: 0.9em;
    }

    &__contact {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4px;

        &--link {
            margin-right: 4px;
        }
    }
}
