.meet {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__text-content {
        color: #fff;
        margin-bottom: 20px;
    }

    &__title {
        color: $primaryColor;
        font-size: 3em;
        line-height: 1.2;
        margin: 40px;
        text-align: center;
    }

    &__description {
        font-size: 1em;

        p {
            margin-bottom: 15px;
        }
    }

    &__image-content {
        margin-top: 20px;
    }

    &__image {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    &__contact-content {
        display: flex;
        align-items: center;
    }

    &__contact-type {
        margin-left: 8px;
    }

    &__contact-link {
        margin-left: 8px;
    }
}

// .fa-regular {
//     color: white;
//     height: 100px;
//     width: 100px;
// }

.logo {
    &__icon {
        color: $textColor;
        display: flex;
        align-items: center;

        &:hover {
            color: $mainColor;
        }
    }
}