* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

a:hover {
    color: $mainColorHover;
}

.navbar {
    width: 100%;
    z-index: 9999;
    top: 0;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0));
    padding-bottom: 20px;

    &__top {
        width: 100%;
        height: 80px;
        padding: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        /* max-width: 1300px; */

        &--active {
            background-color: #000000f2;
            width: 100%;
            height: 80px;
            padding: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1;
        }
    }

    &__left {
        display: flex;
        justify-content: center;
        align-items: center;
        // flex: 3;
        flex: 1;
        // margin-left: 100px;
    }

    &__bottom {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 45px;
        padding: 0 50px;

        ul {
            width: 100%;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        ul li {
            margin: 10px;

            &:hover {
                color: #ffffff;
            }
        }
    }

    .links {
        display: flex;
        justify-content: center;
        width: 100%;
        z-index: 9999;
        cursor: pointer;
    }

    &__button--mobile {
        display: none;
    }
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 60px;

    &__logo {
        margin: 0 7px;
        color: $mainColor;
    }
}

.logos {
    &__mobile {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 200px;
    }
}

.logo {
    &__mobile {
        &--active {
            a {
                color: $textColor;
            }
        }
    }
}

.navbar {
    .links {
        &__link {
            &--config {
                display: flex;
                align-items: center;
                height: 100%;
                font-size: 14px;
                cursor: pointer;
                background: linear-gradient(
                                to bottom, $mainColor 0%, $mainColor 100%
                            );
                background-position: 0 100%;
                background-repeat: repeat-x;
                background-size: 3px 3px;
                text-decoration: none;
                transition: background-size .2s;
    
                &:hover {
                    background-size: 4px 20px;
                    color: #ffffff;
                }
            }
        }
    }        
}

.logo {
    &__icon {
        color: $mainColor;
        display: flex;
        align-items: center;

        &:hover {
            color: $mainColorHover;
        }
    }

    .fas {
        color: $mainColor;

        &:hover {
            color: $mainColorHover;
        }
    }
    
    .fab {
        color: $mainColor;

        &:hover {
            color: $mainColorHover;
        }
    }
    
    .fa-brands {
        color: $mainColor;

        &:hover {
            color: $mainColorHover;
        }
    }
}

.logo {
    height: 70px;
    width: 40px;
}

.logo:hover {
    cursor: pointer;
}

@media (max-width: $desktopBreakpoint) {
    .navbar {
        &__right ul {
            display: none;
        }

        .logos {
            &__logo {
                height: 55px;
                width: 55px;
                // margin: -14px -10px -10px -25px;
            }
        }

        .links {
            opacity: 0;
            transition: opacity 0.5s;

            &--active {
                opacity: 1;
                transition: opacity 0.5s;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: 100vh;
                background-color: #000000f2;
                left: 0;
                opacity: 1;
                transition: all 0.6 ease;
                // z-index: 1;
                position: absolute;
                padding: 40px;
            } 
        }

        .fa {
            .fa-times {
                font-size: 2rem;
            }
        }

        &__bottom {
            display: flex;
            justify-content: center;
            width: 33%;
        }

        &__button {
            &--mobile {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(-100%, 60%);
                font-size: 1.8rem;
                cursor: pointer;
                color: $textColor;
                margin-top: -10px;
            }
        }

        .links {
            &__link {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                margin: 10px;

                &--config {
                    text-align: center;
                    padding: 1.5rem;
                    width: 100%;
                    display: table;
                    background: none;
                    font-size: 1.3rem;
                }
            }
        }
    }

    .hero-container {
        position: relative;
    }
    .cards {
        position: relative;
    }
}

@media screen and (max-width: 320px) {
    .footer-wrapper .right ul {
        display: none;
    }
    .navbar {
        &__bottom {
            padding: 0 60px;

            // ul {
            //     margin-left: 20px;
            // }
        }
    }
}

@media screen and (min-width: 375px) {
    .footer-wrapper .right ul {
        display: none;
    }
    .navbar {
        &__bottom {
            padding: 0 100px;

            // ul {
            //     margin-left: 10px;
            // }
        }
    }
}

/* @media screen and (min-width: 425px) {
    .navbar .bottom-nav {
        padding: 0 120px;
    }
}

@media screen and (min-width: 425px) {
    .navbar .bottom-nav {
        padding: 0 20px;
    }
} */
