$breakpoint: 991px;
$textColor: #fff;
$secondaryTextColor: #000;
$primaryColor: #ff0571;
$secondaryColor: #fd89d9;
$mainColor: #f61875;
$mainColorHover: #c91962;
$hyperlinkColor: #E41E97;
$hyperlinkHover: #a5166f;